body {
    font-family: "Segoe UI", "Segoe UI", "sans-serif";
    font-size: 18px;
    font-weight: 400;   
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(96, 94, 92);
}

.cm-content {
    min-height: 100%;
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .display-4 {
        font-size: 2.0rem;
    }
}

.nav-underline a.nav-link:hover {
    color: rgb(247, 148, 30);
}

.container h1 {
    font-size: 28px;
    font-weight: 600 !important;
    color: rgb(26, 86, 127);
}

.container .card {
    margin-top: 10px;
}

.container .card p, .container .card li {
    color: rgb(96, 94, 92);
}

a {
    color: rgb(247, 148, 30);
}

.cm-top-nav-bar {
    background-color: #ffffff !important;
    margin-bottom: 0px;
    border: 0px;
    height:48px;
    border-radius: 0;
}

.cm-menu-bar {
    background-color: #FFF !important;
    margin-top: -168px;
}

.cm-signin {
    color: #ffffff !important;
    font-size: 16px;
    vertical-align: middle;
    margin-top: 20px;
}

.cm-username {
    border-right: solid 1px white;
    padding-right: 6px;
}

.cm-logout {
    vertical-align: middle;
    padding-left: 2px;
}

.placeholder {
    width: 160px !important;
}

.text-white {
    color: white !important;
}

.cm-menu-item {
    color: black !important;
    padding: 0px !important;
}

.cm-menu-item-active {
    background-color: #D0CCCC;
}

.cm-logo {
    /*border-style: none;
    width: auto;
    padding: 8px;
    
    width: 30%;*/
    border-style: none;
    width: auto;
    margin-left: -10px;
    padding: 8px;
    max-height: 50px;
}


.process-controls {
    background-color: rgb(26, 86, 127);
}

.cm-panel-default {
    background: #FFF !important;
    border-radius: 0px;
    font-size: 0.7em;
    border: 1px solid rgb(237, 235, 233);
}

.cm-section-heading, .cm-section-subheading {
    border-bottom: none;
    color: rgb(50, 49, 48);
    display: inline;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
    width: auto;
    -webkit-font-smoothing: antialiased;
}

.cm-section-heading {
    text-transform: capitalize;
    margin-bottom: 20px;
    line-height: 40px;
    text-transform: uppercase;
}

.container ul {
    list-style-position: inside;
}

div.process-step {

}

div.process-step div.vr {
    background-color: rgb(96, 94, 92);
}

div.process-step.finish div.vr {
    display: none;
}

div.process-step-icon {
    border-radius: 20px;
    background-color: rgb(247, 148, 30);
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.process-step {
    color: rgb(247, 148, 30);
}

div.process-step.completed, div.process-step.completed div.process-step-icon {
    color: #4DB6AC;
}

div.process-step.completed div.process-step-icon {
    background-color: #E8F5E9;
}


div.process-step.finish div.process-step-icon {
    background-color: #F6F6F6;
}

div.process-step.finish, div.process-step.finish div.process-step-icon {
    color: #8F8F8E;
}

div.process-step.pending, div.process-step.pending div.process-step-icon {
    color: #C67618;
}

div.process-step.pending div.process-step-icon {
    background-color: #FDEAD2;
}

div.process-step div.process-step-detail {
    padding-left: 4px;
    line-height: 16px;
}

div.process-step div.process-step-detail .heading {
    color: rgb(18, 60, 89);
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 0px;
}

div.process-step div.process-step-detail .description {
    font-size: 0.9em;
    font-weight: normal;
    font-style: italic;
}


.cm-section-subheading {
    font-size: 16px;
    text-transform: none;
}

.container .cm-panel.default dl dt, .container .cm-panel.default dl dd {
    padding: 0px !important;
}

.p-0 {
    padding: 0px !important;
}

dl.row .p-2 {
    padding: 0px !important;
    line-height: normal;
}

.row {
    margin: 0px;
}

.w286 {
    width: 286px;
}

.w120 {
    width: 120px;
}

.w200 {
    width: 200px;
}

.mr250 {
    margin-right: 250px;
}

.mt100 {
    margin-top: 100px;
}

.mt200 {
    margin-top: 200px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}



.cm-button-default {
    
    background-color: rgb(247, 148, 30);
    
}

    .cm-button-default:hover {
        background-color: rgb(223, 134, 27);
        color: #fff;
    }

.cm-button-disabled, .cm-button-disabled:hover {
    background-color: #efefef;
    cursor: progress;
}

.cm-button-error {
    color: #fff;
    background-color: #004578 !important;
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

.cm-button-error:hover {
    background-color: #EAE7E7 !important;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #004578;
}

.cm-button-success {
    color: #fff;
    background-color: #256525;
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

.cm-button-success:hover {
    background-color: #EAE7E7;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #004578;
}

div.container button {
    border-color: #2e6da4;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 15px 5px 15px 0px;
    color: #fff;
}

.accordion div.accordion-item {
    padding: 0px;
}

.accordion h2.accordion-header {
    line-height: normal;
}

.accordion-button:not(.collapsed) {
    background-color: #FDEAD2;
}

.accordion button.accordion-button {
    margin: 0px !important;
    border-color: transparent;
    padding: 16px;
    color: rgb(96, 94, 92);
    text-align: left;
}



div.container button.cm-button-danger {
    background-color: #fff;
    color: #434040;
    border: 1px solid #E7E7E7;
}

div.container button.cm-button-danger:hover {
    background-color: #EAE7E7;
    color: #004578;
}

.cm-table {
    background: #ffffff !important;
    font-size: 16px;
}

    .cm-table th {
        padding: 10px !important;
    }

    .cm-table td {
        padding: 10px !important;
    }

.cm-table-head th {
    text-align: center;
    background: #FFF !important;
    font-size: 14px;
}

.cm-ellipsis {
    text-align: center !important;
}

    .cm-ellipsis a {
        color: black !important;
    }

.cm-minus-circle {
    text-align: center;
}

    .cm-minus-circle a {
        color: black !important;
    }

.cm-link-button {
    cursor: pointer;
}

    .cm-link-button:hover {
        cursor: pointer;
        color: #004578 !important;
    }

/*.cm-footer {
    background-color: #F9F9F9;
    position: absolute !important
}*/

.cm-container {
    margin-left: 80px;
}

.cm-footer, .cm-push {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E6E6E6;
    font-size: 12px !important;
    color: black !important;
    height: 20px;
    line-height: 20px;
}

a.cm-dropdown-option {
    background: transparent !important;
    color: black;
    cursor: pointer;
}

    a.cm-dropdown-option:hover {
        background: transparent !important;
        color: #004578 !important;
        cursor: pointer;
    }

.mrtop {
    margin-top: 25px !important;
}

.maxwidth {
    width: 1300px !important;
}


.mr420 {
    margin-right: !important;
}
.red-star {
    color: red;
}